{% extends 'base.html' %}


{% block content %}
<style>

body,html {
    height: 100%;
}

h2 {
  margin-top: -30%;
}
</style>
<div class="container-fluid h-100">
  <div class="row justify-content-center align-items-center h-100">
      <div class="col col-sm-6 col-md-6 col-lg-4 col-xl-3">
        <h2>Login Here.</h2>
          <br>
          <form action="{% url 'user_login' %}" method="POST">
            {% csrf_token %}

            {{form_errors}}
              <div class="form-group">
                  <input _ngcontent-c0="" class="form-control form-control-lg" placeholder="username" type="text" name="username">
                  <br>
              </div>
              <div class="form-group">
                  <input class="form-control form-control-lg" placeholder="password" type="password" name="password">
                  <br>
              </div>
              <div class="form-group">
                <button class="btn btn-info btn-lg btn-block" type="submit">Sign In</button>
              </div>
              
          </form>
      </div>
  </div>
</div>
    
{% endblock %}